<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/angular-animate.js"></script>
    <script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script type="text/javascript" src="scripts/angular-sanitize.js"></script>
    <script type="text/javascript" src="scripts/ng-list.js"></script>
</head>
<body>
    <div ng-controller="AlertDemoCtrl">
        <script type="text/ng-template" id="alert.html">

        </script>
    </div>
</body>
</html>