<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <script type="text/javascript" src="script/jquery2.1.4.js"></script>
</head>
<body>

<form name="input"  method="get">
    <p>Get请求方法</p>
    First url: <input type="text" name="url" id="url"/>
    Last param: <input type="text" name="param"  id = "param"/>
    <input id="submit" type="button" value="提交" />
    <p>POST请求方法</p>
    First url: <input type="text" name="url" id="urls"/>
    Last param: <input type="text" name="param"  id = "params"/>
    <input id="submits" type="button" value="提交" />

</form>

<script type="text/javascript" src="script/requestMethod.js"></script>


<ul id="show"></ul>
</body>
</html>